:root {
     --main-color: rgb(9, 9, 68);  /* #043105; */
    --verde:#3dda43;
    --azul:rgb(9, 9, 68);
    --amarillo : rgb(255, 255, 52);
  }


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    
}



body{
   
    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0;
    
    background:url("/images/descarga.png");
    background-size: 100% 800px;
    z-index: 1;
    filter: blur(5%);
    

    
    
}



/* header{
    padding: 30px;
    border-bottom: 1px solid white;
    margin: 0px -50px;
    margin-bottom: 20px;
    margin-top: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgba(17,14,60,1) 0%, rgba(9,121,14,1) 68%, rgba(168,255,0,1) 100%);

} */











.imagen-corporativa{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.imagen-corporativa img{
    height: 50px;
    width: 50px;
}

.boton_header{
    background-color: transparent;
    color: var(--amarillo);
}

.nav-item .dropdown{
    border: 1px solid white;
}

.botones-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
}


 

.formulario-nuevo{
    
    margin: 16px;
}

.card-header{

    background-color: rgb(255, 255, 52);
    color:var(--azul);
    padding: 15px;
    
}
.card-body{

    background-color: var(--azul);
    color: white;

}

.banner{
    border: 10px solid var(--azul);
    border-radius: 5px;
    display: none;
}


.navbar{
    
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--main-color);
    margin-bottom: 0px;
    height: 100px;
}



.navbar-brand{
    padding: 0;
    background-color: rgb(255, 255, 52);
    
}

.logo{
    width: 50px;
    height: 50px;
    background-color: var(--amarillo);
}



.boton{
    background-color: transparent;
    border: 1px solid var(--verde);
    color: var(--verde);
}

.boton:hover{
    background-color: var(--verde);
    color: var(--azul);
    border: 1px solid var(--main-color);
    
}

table{
    margin-top: 50px;
    background-color: var(--verde);
    color: var(--azul);
}




tr:hover{
    background-color: var(--amarillo);
    color: var(--azul);
}

.btn-icon{
    padding: 10px;
    
    display: flex;
    flex-direction: row;
    
}

.btn-icon span{
    margin-right: 5px;
}



span{
    margin: 0;
    padding: 0;

}


.acordeon{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid var(--verde);
    text-decoration: none;
    color: var(--amarillo);
}

/* a{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid var(--verde);
    text-decoration: none;
    color: var(--amarillo);
} */


.formulario-perfil input, .formulario-perfil select {
    pointer-events: none;
}

.a-icon{
    display: flex;
    background-color: red;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* Foto de perfil */

.foto_perfil{
    width: 200px;
    height: 200px;
}

#foto_perfil{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border: 2px solid white;
}

#menu_large{
    display: none;
}



#menu_small{
    display: inline-block;
    background-color: transparent;
    color: black;
}  

.container-visible{
    width: 100%;
    display: flex;
    
    flex-direction: row-reverse;
    
}

.container-no-visible{
    display: none;
}

#options-small{
    width: 100%;
    
    
}

#options-small a{
    display: block;
    width: auto;
    padding: 10px;
    text-decoration: none;
    background: var(--amarillo);
    color: var(--azul);
    border: 1px solid white;
}

#options-small a:active{
    background-color: var(--verde);
    color: white;
}

.opciones{
    width: 100%;
}

.opciones a{
    display: block;
    background: #3dda43 !important;
    width: 100%;
}