
{{#each error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>
        {{text}} 
      </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}}

{{#if mensaje}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>
        {{mensaje}} 
      </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}


<form action="/usuarios/add" method="POST" class="formulario-nuevo" enctype="multipart/form-data">
    <h2 class="card-header">
        <span class="material-icons md-36">person_add</span>
        Nuevo empleado
        
    </h2>
    <div class="card-body">

        

        
  
        <a class="acordeon" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h5>Perfil del empleado</h5><span class="material-icons md-24">expand_more</span>
        </a>
        
        
        <div class="row">
            <!-- New-->
            <div class="form-group col-md-2">
            <label for="exampleInputPassword1" class="form-label">Tipo</label>
            <select name="tipo" class="form-select" aria-label="Default select example">
                
                <option value="cc">C.C</option>
                <option value="ce">C.E</option>
                <option value="ti">T.I</option>
                <option value="pep">P.E.P</option>
                
                
                
            </select>    
            </div>
            <!-- /New-->
            <div class="form-group col-md-2">
            <label for="exampleInputPassword1" class="form-label">Identificación</label>
            <input type="text" name="identificacion" class="form-control">    
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Nombre(s)</label>
                <input type="text" name="nombre"  class="form-control">    
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Apellido(s)</label>
                <input type="text" name="apellido"  class="form-control">    
            </div>
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Cargo</label>
            <select name="cargo" class="form-select" aria-label="Default select example">
                <option selected>Elija una opción</option>
                <option value="gerente">Gerente</option>
                <option value="Operador">Operador</option>
                <option value="conductor">Conductor</option>
                <option value="administrativo">Administrativo</option>
                <option value="servicios-generales">Servicios generales</option>
                <option value="guarda">Guarda de seguridad</option>
                
                
            </select>      
            </div>

            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Profesión</label>
            <input type="text" name="profesion"  class="form-control"> 
            
            </div>

            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Fecha de ingreso</label>
            <input type="date" name="fecha_ingreso"  class="form-control"> 
            
            </div>

        <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">EPS</label>
            <select name="eps" class="form-select" aria-label="Default select example">
                <option selected>Elija una opción</option>
                <option value="nueva-eps">Nueva eps</option>
                <option value="medimas">Medimas</option>
                <option value="comfaoriente">Comfaoriente</option>
                <option value="sura">SURA</option>
                <option value="coomeva">Coomeva</option>
                <option value="colsanitas">Colsanitas</option>
                <option value="comfacundi">Comfacundi</option>
                
            </select>  
        </div>
        <div class="form-group col-md-4">
            <label for="" class="form-label">Foto de perfil</label>
            <input type="file" name="foto_perfil">
        </div>
        </div>
        <br>
        <button type="button" class="accordion">Información de contacto<span class="material-icons md-24">expand_more</span></button>
        <div class="row panel" style="display: none;">
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" name="correo"  class="form-control">    
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Telefono</label>
                <input type="text" name="telefono"  class="form-control">    
            </div>
            <div class="form-group col-md-4">
                <label for="example" class="form-label"> Dirección</label>
                <input type="text" name="direccion" class="form-control">
            </div>
        <br>
        </div>
        <button type="button" class="accordion">Contacto emergente<span class="material-icons md-24">expand_more</span></button>
        <div></div>
        <button type="button" class="accordion">Educación<span class="material-icons md-24">expand_more</span></button>
        
        
        
        
        <div class="row panel">
            <div class="form-group col-md-12">
                <label for="example" class="form-label">Nombre Curso periodico</label>
                <input type="text" name="nombre_curso" class="form-control">

            </div>
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Fecha de realización</label>
            <input type="date" name="fecha_realizacion"  class="form-control" >
            </div>
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Fecha de vencimiento</label>
            <input type="date" name="fecha_vencimiento"  class="form-control" >
            </div>
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Certificado adjunto</label>
            <input type="file" name="certificado"  class="form-control" >
            </div>
        </div>
      </a>
        <button type="button" class="accordion">Pagos<span class="material-icons md-24">expand_more</span></button>
        
        <div class="row panel">
            <div class="form-group col-md-6">
            <label for="exampleInputPassword1" class="form-label">Número cuenta bancaria</label>
            <input type="text" name="numero_cuenta"  class="form-control" >
            </div>
            <div class="form-group col-md-3">
            <label for="exampleInputPassword1" class="form-label">Banco</label>
            <select name="banco" class="form-select" aria-label="Default select example">
                <option selected>Elja uno</option>
                <option value="bbogota">Banco de Bogotá</option>
                <option value="bbancolombia">Bancolombia</option>
                <option value="bbbva">BBVA</option>
                <option value="bdavivienda">Davivienda</option>
                <option value="bcolpatria">Colpatria</option>
                <option value="bpopular">Banco popular</option>
                <option value="bcajasocial">Banco caja social</option>
                
            </select>
            </div>
            <div class="form-group col-md-3">
            <label for="exampleInputPassword1" class="form-label">Tipo de cuenta</label>
            <select name="tipo_cuenta" class="form-select" aria-label="Default select example">
                
                <option value="ccorriente">Cuenta corriente</option>
                <option value="cahorro">Cuenta ahorros</option>
                
                
            </select>  
            </div>    
            <div class="form-group col-md-3">
            <label for="exampleInputPassword1" class="form-label">Fondo de pensiones</label>
            <select name="pension" class="form-select" aria-label="Default select example">
                
                <option value="porvenir">Porvenir</option>
                <option value="colfondos">Colfondos</option>
                <option value="proteccion">Protección</option>  
                
                
            </select>  
            </div>
        </div>
        <button type="button" class="accordion">Credenciales de acceso<span class="material-icons md-24">expand_more</span></button>
        
        <div class="row panel">
            <div class="form-group col-md-6">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" name="password"  class="form-control">    
        </div>
        
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
            <input type="password" name="confirmar_password"  class="form-control">    
        </div>
        
        </div>
        <br>
        
        <center>
            <button type="submit"  class="btn btn-primary boton">Crear usuario</button>
        </center>
    </div>
    
</form>
<script>
var acc = document.getElementsByClassName("accordion");








var i;

for (i = 0; i < acc.length; i++) {
    console.log(i);
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}



</script>