<div class="card"  style="color: rgb(3, 3, 63);">
    <div class="card-header">
        NOMBRE USUARIO
    </div>
    <div class="card-body">
        
        INFORMACIÓN DEL USUARIO

    </div>
</div>