{{#if vehiculos_vencidos}}
<script>
  Swal.fire({
                    position:'top-end',
                    title: 'Atención',
                    text: 'Existen vehiculos con gases y soat vencidos',
                    icon: 'warning',
                    confirmButtonText: 'Darle un vistazo',
                    denyButtonText: 'Omitir',
                    showDenyButton:true
                    
                    
                }).then((result)=>{
                  if(result.isConfirmed){
                     window.location.href="vehiculos/vencidos";
                  }else{
                      console.log("omitir");
                  }
                })
</script>
 
{{/if}}

<div class="banner" style="background-color: rgb(229, 233, 27);">
  <h1>Pagina principal</h1>
  <img src="images/descarga.png" alt="">

</div>

                   