{{#each error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>
        {{text}}
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}
{{#if mensaje}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>
        {{mensaje}}
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var contador = 0;
        $("#boton_agregar").click(function () {
            contador++;
            console.log(contador);
            var elemento = ` <div class="row">
            <div class="form-group col-md-6">
                <label for="example" class="form-label">Nombre archivo</label>
                <input type="text" name="nombre_archivo_`+ contador + `" class="form-control">
            </div>
            {{!-- 
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Fecha de realización</label>
            <input type="date" name="fecha_realizacion"  class="form-control" >
            </div>
            <div class="form-group col-md-4">
            <label for="exampleInputPassword1" class="form-label">Fecha de vencimiento</label>
            <input type="date" name="fecha_vencimiento"  class="form-control" >
            </div> --}}
            <div class="form-group col-md-6">
            <label for="exampleInputPassword1" class="form-label">Certificado adjunto</label>
            <input type="file" name="certificado"  class="form-control" >
            </div>
        </div>
      </a> 
      
      <hr style="border:2px solid white;">
      `;

            $('#boton_agregar').after(elemento);
        })
    })
</script>
<form action="/vehiculos/add" method="POST" class="formulario-nuevo" enctype="multipart/form-data">
    <h1 class="card-header">Nuevo vehiculo</h1>
    <div class="card-body">










       <!-- <button type="button" class="accordion">Información básica<span
                class="material-icons md-24">expand_more</span></button>
        {{!-- Adición dinamica de archivos . Proximas actualziaciones pendiente --}}
-->
        <div class="row">
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Placa</label>
                <input type="text" name="placa" class="form-control" value="{{placa}}" 
                    style="background-color: rgb(5, 5, 51); color:rgb(96, 245, 96)">
            </div>
            
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">*Marca</label>
                <input type="text" name="marca" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">*Linea</label>
                <input type="text" name="linea" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Modelo</label>
                <input type="text" name="modelo" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Color</label>
                <input type="text" name="color" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">*Tipo vehiculo</label>
                <select name="tipo_vehiculo" class="form-select" aria-label="Default select example">
                    <option selected>Elija una opción</option>
                    <option value="campero">Campero</option>
                    <option value="camioneta">Camioneta</option>
                    <option value="camion_sencillo">Camion sencillo</option>
                    <option value="moto">moto</option>
                    <option value="grua_sc_4_8">Grúa sobre camión 4x8</option>
                    <option value="excavadora">Excavadora</option>


                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">*Tipo medición</label>
                <select name="tipo_medicion" class="form-select" aria-label="Default select example">
                    <option selected>Elija una opción</option>
                    <option value="km">km</option>
                    <option value="Horas">Horas</option>
                    <option value="Ambos">Ambos</option>

                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">*Tipo Trabajo</label>
                <select name="tipo_trabajo" class="form-select" aria-label="Default select example">
                    <option selected>Elija una opción</option>
                    <option value="Normal">Normal</option>
                    <option value="Bajo">Bajo</option>
                    <option value="Severo">Severo</option>

                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Combustible principal</label>
                <select name="combustible_principal" class="form-select" aria-label="Default select example">
                    <option selected>Elija una opción</option>
                    <option value="Corriente">Corriente</option>
                    <option value="Extra">Extra</option>
                    <option value="ACPM">ACPM</option>
                    <option value="GNV">GNV</option>
                    <option value="Urea">Urea</option>

                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="exampleInputPassword1" class="form-label">Combustible Secundario</label>
                <select name="combustible_secundario" class="form-select" aria-label="Default select example">
                    <option selected>Elija una opción</option>
                    <option value="Corriente">Corriente</option>
                    <option value="Extra">Extra</option>
                    <option value="ACPM">ACPM</option>
                    <option value="GNV">GNV</option>
                    <option value="Urea">Urea</option>

                </select>
            </div>
            
        </div>

        <center>
            <button type="submit" class="btn btn-primary boton">Registrar vehiculo</button>
        </center>
    </div>




    </div>

</form>

<script>
    var acc = document.getElementsByClassName("accordion");








    var i;

    for (i = 0; i < acc.length; i++) {
        console.log(i);
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */

            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }



</script>